{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    
</style>

    <h2>Košík</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Název produktu</th>
                <th>Cena</th>
                <th>Počet kusů</th>
            </tr>
        </thead>
        <tbody>

     {% for product in kosik %}
            <tr>
                <td>{{ product.nazev }}</td>
                <td>{{ product.cena }} Kč</td>
                <td>{{ product.pocet }}</td>
            </tr>
       
        {% endfor %}
        </tbody>
        <a class="btn btn-outline-primary btn-lg btn-block" href="" role="button">Pokračovat v objednávce</a>

{% endblock %}
