{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<h2>Objednávka byla úspěšně odeslána!</h2>
<p><a class="btn btn-primary" href="{{ path('seznam_produktu') }}" role="button">Zpět na seznam produktů</a></p>

{% endblock %}
